body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  background: radial-gradient(circle, rgb(247, 170, 184), rgb(228, 132, 147));
}
header {
  box-shadow: 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: aliceblue;
}
header img {
  width: 120px;
  animation: slide 1s ease-in;
}
@keyframes slide {
  0% {
    transform: scale(0);
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#textinput {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#textinput button {
  margin-top: 10px;
  text-shadow: 0px 0px 1px black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: rgb(38, 232, 229);
}
#textinput button:hover {
  border: solid 2px;
}
main #textinput input {
  background-color: rgba(255, 255, 255, 0.364);
  animation: slide 1s ease-in;
  border: none;
  border-radius: 10px;
  width: 70%;
  height: 15vh;
}
input:focus {
  border: none;
  outline: none;
}
.output {
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  width: auto;
  max-width: 50%;
  height: auto;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.output img {
  width: 20%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 458px;
  background-color: white;
  width: 100%;
  height: 80px;
}
footer .icons {
  display: flex;
  gap: 20px;
}
footer .icons i {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: x-large;
  color: black;
}

@media (max-width: 576px) {
  .output {
    max-width: 100%;
  }
  footer {
    margin-top: 88%;
  }
}
